.container {
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-row-gap: 20px;
}

.container .pageHeader {
  grid-column: 2/3;
}

.container .twistControls {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-column-gap: 10px;
}

.container .twistGraph {
    grid-column: 2/3;
}

.container .indexLink {
    grid-column: 2/3;
}
