{% extends "layout.html.j2" %}
{% set active_page = "actions" %}

{% block title %}Keeper • Actions{% endblock %}
{% block content %}
  <div class="starter-template">
    <h1>Actions</h1>
    <table class="table table-sm table-striped">
    <thead>
    <tr><th scope="col">#</th><th scope="col">name</th><th scope="col">tags</th><th scope="col">timestamp</th></tr>
    </thead>
    <tbody>
    {% for id, name, timestamp, type, tags in actions %}
      {% if type == 'motion_profile' or type == 'twist' %}
        {% set view = 'motion_profile' %}
      {% else %}
        {% set view = 'test' %}
      {% endif %}
      <tr>
        <th  scope="row">{{ id }}</th>
        <td class="text-left">
        <a href="{{ url_for(view, action_id=id) }}">{{ name }}</a>
        </td>
        <td class="text-right">
          {% if tags %}
            {% for tag in tags %}
            <span class="badge badge-primary">{{ tag }}</span>
            {% endfor %}
          {% endif %}
        </td>
        <td>{{ timestamp|formatdatetime }}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
{% endblock %}
