{% extends "layout.html.j2" %}
{% set active_page = "actions" %}

{% block title %}Keeper • Actions{% endblock %}
{% block content %}
  <div class="starter-template">
    <h1>Actions</h1>
    <table class="table table-sm table-striped">
    <thead>
    <tr><th scope="col">#</th><th scope="col">name</th><th scope="col">timestamp</th></tr>
    </thead>
    <tbody>
    {% for id, name, timestamp in actions %}
      <tr>
        <th  scope="row">{{ id }}</th>
        <td><a href="{{ url_for('motion_profile', action_id=id) }}">{{ name }}</a></td>
        <td>{{ timestamp|formatdatetime }}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
{% endblock %}
