{% extends "layout.html.j2" %}
{% set active_page = "activities" %}

{% block title %}Keeper • Activities{% endblock %}
{% block content %}
  <div class="starter-template">
    <h1>Activities</h1>
    <p class="lead">
      Stryke Force Trapper Keeper is a data logging tool for FRC robots.
    </p>
  </div>
{% endblock %}
