{% extends "layout.html.j2" %}
{% set active_page = "index" %}
{% block title %}Keeper • Index{% endblock %}
{% block content %}
  <div class="starter-template">
    <h1>Stryke Force Keeper</h1>
    <p class="lead">
      Stryke Force Trapper Keeper is a data logging tool for FRC robots.
    </p>
  </div>
{% endblock %}
