{% extends "layout.html.j2" %}
{% set active_page = "motion_profile" %}

{% block title %}Keeper • Action {{ action.id }}{% endblock %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>
      {{ action.name }}
      </h1>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col">
      {{ action.timestamp|formatdatetime }}
    </div>
    <div  class="col text-right">
      {% if action.tags %}
        {% for tag in action.tags %}
          <span class="badge badge-primary">{{ tag }}</span>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="table-responsive">
          <table class="table table-sm">
          <tr>
          <th scope="row">motion profile</th>
          <td class="text-muted">profile speed:</td><td>{{ action.profile_speed|format_int }}<small>&nbsp;ticks/100&nbsp;msec</small></td>
          <td class="text-muted">P:</td><td>{{ action.profile_k_p }}<small></small></td>
          <td class="text-muted">good enough:</td><td>{{ action.profile_good_enough|format_int }}<small>&nbsp;ticks</small></td>
          </tr>
          <tr>
          <th scope="row">distance</th>
          <td class="text-muted">profile:</td><td>{{ action.profile_distance|format_int }}<small>&nbsp;ticks</small></td>
          <td class="text-muted">actual:</td><td>{{ action.actual_distance|format_int }}<small>&nbsp;ticks</small></td>
          <td class="text-muted">error:</td><td>{{ action.distance_error|format_int }}<small>&nbsp;ticks</small></td>
          </tr>
          <tr>
          <th scope="row">speed</th>
          <td class="text-muted">profile:</td><td>{{ action.profile_speed|format_int }}<small>&nbsp;ticks</small></td>
          <td class="text-muted">max actual:</td><td>{{ action.actual_speed_max|format_int }}<small>&nbsp;ticks</small></td>
          <td class="text-muted">max error:</td><td>{{ action.speed_max_error|format_int }}<small>&nbsp;ticks</small></td>
          </tr>
          <tr>
          <th scope="row">swerve</th>
          <td class="text-muted">max forward:</td><td {% if action.swerve_forward_max > 1.0  -%}class="table-danger"{% endif -%}>{{ action.swerve_forward_max }}</td>
          <td class="text-muted">max strafe:</td><td {% if action.swerve_strafe_max > 1.0  -%}class="table-danger"{% endif -%}>{{ action.swerve_strafe_max }}</td>
          <td class="text-muted">max yaw:</td><td {% if action.swerve_yaw_max > 1.0  -%}class="table-danger"{% endif -%}>{{ action.swerve_yaw_max }}</td>
          </tr>
          <tr>
          <th scope="row">gyro angle</th>
          <td class="text-muted">start:</td><td>{{ action.gyro_start|format_float_string }}<small>&nbsp;deg.</small></td>
          <td class="text-muted">end:</td><td>{{ action.gyro_end|format_float_string }}<small>&nbsp;deg.</small></td>
          <td class="text-muted">delta:</td><td>{{ action.gyro_delta|format_float_string }}<small>&nbsp;deg.</small></td>
          </tr>
          </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img class="img-fluid" src="{{ url_for('motion_profile_plot', action_id=action['id']) }}" />
    </div>
  </div>

<div class="row">
  <div class="col">
    <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#actionData">
        Action Data
      </button>
    </p>
    <div class="collapse" id="actionData">
      <div class="card card-body">
        <pre><code>{{ action|pprint }}</code></pre>
      </div>
  </div>
</div>

{% endblock %}
